
{% extends "blog/base.html" %}

{% block title %}
	{{ block.super }} - {{ category.name }}
{% endblock %}

{% block content %}
	
	<div class="content">
		<div class="section-inner clearfix">
		
			<h4>All Posts Under category - {{ category.name }}</h4>
			
			{% for post in posts %}
				<h3>
					<a href="{{ post.get_absolute_url }}">{{ post.title|capfirst }}</a>
				</h3>
				<p class="post-info">
					{% include 'blog/post_info.html' %}
				</p>

			{% empty %}
				<P>There is no posts</P>
			{% endfor %}


		</div>
	</div>

	{% include "blog/pagination.html" %}
		
	</div>

{% endblock %}