
{% extends "blog/base.html" %}

{% block title %}
	{{ post.title|capfirst }} - {{ block.super }}
{% endblock %}


{% block content %}

	<div class="content">
		<div class="section-inner clearfix">
			{% if messages %}
			<ul>
				{% for message in messages %}
					<li style="color: green">{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}

			<h1><b style="color: green">{{ post.title|capfirst }}</b></h1>

			<p class="post-info">
				{% include 'blog/post_info.html' %}
			</p>

			<p>
				{{ post.content }}
			</p>

		</div>
	</div>

{% endblock %} 
